body {
  background: #F5F5F5;
}

header {
  background: white;
}

h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 30px;
  color: black;
  text-align: left;
  background: white;
}

container {
  margin-top: 20px;
}